*{
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
}
body{
	margin: 30px;
	font-family: "MicrosoftJhengHei", "Microsoft YaHei";
}
li{
	list-style: none;
	float: left;
	font-size: 12px;
}
a{
	text-decoration: none;
	color: black;
}
table{
	cursor: pointer;
	border-collapse: collapse;
}
section.car{
	width: 890px;
	overflow: hidden;
	font-size: 12px;
}
section.car div.calendar{
	float: left;
	width: 352px;
	border-radius: 5px;
	border: 1px solid #ced1d4;
}
h3{
	color: #b5b5b5;
	font-size: 12px;
	padding-left: 20px;
	line-height: 40px;
	background-color: #f4f5f6;
	border-bottom: 1px solid #ced1d4;
	font-weight: initial;
}
section.car div.calendar ul.date{
	margin: 10px 10px 0 15px;
}
section.car div.calendar ul.date li{
	border: 1px solid #cfcfcf;
	background: #fff url(down.png) no-repeat 88% 50%;
	padding: 4px;
	margin-left: 5px;
}
section.car div.calendar ul.date li:first-child,li:last-child{
	width: 72px;
}
section.car div.calendar ul.date li:nth-child(2){
	width: 83px;
}
section.car div.calendar ul.date li:nth-child(3){
	width: 73px;
}
section.car div.calendar table{
	margin: 10px 10px 20px 20px;
	border-collapse: collapse;
	display: flex;
	text-align: center;
}
section.car div.calendar table tr:first-child{
	border-top: 1px solid #a8cfec;
	border-bottom: 1px solid #e2e3e4;
	padding: 8px 0;
	height: 34px;
}
section.car div.calendar table tr{
	display: flex;
	justify-content: space-around;
	padding: 8px 0;
	width: 313px;
}
section.car div.calendar table tr td{
	width: 40px;
	height: 40px;
}
.data_mark{
	border: 1px solid #fec24d;
}
section.car div.calendar table tr td.festival b{
	color: #d70025;
}
section.car div.calendar table tr td.weekend{
	color: #d70025;
}
section.car div.calendar table tr td.weekend b{
	color: #000;
}
section.car div.rank{
	float: right;
	width: 525px;
	border-radius: 5px;
	border: 1px solid #ced1d4;
}
section.car div.rank table{
	margin: 24px 40px;
	border: 1px solid #ced1d4;
	text-align: center;
}
section.car div.rank table td{
	height: 30px;
	border: 1px solid #ced1d4;
}
section.car div.rank table td:first-child{
	width: 68px;
}
section.car div.rank table td:nth-child(2){
	width: 90px;
}
section.car div.rank table td:nth-child(3){
	width: 290px;
}
section.car div.rank table div{
	height: 4px;
	width: 167px;
	background-color: #dcdcdc;
	float: right;
	margin: 8px;
}
section.car div.rank table div div{
	height: 4px;
	float: left;
	margin: 0;
}
section.car div.rank tbody tr:nth-child(1){
	background-color: #f4f5f6;
}
section.car div.rank tbody tr:nth-child(1) div div{
	background-color: #fa6757;
	width: 85%;
}
section.car div.rank tbody tr:nth-child(2) div div{
	background-color: #fc7b57;
	width: 75%;
}
section.car div.rank tbody tr:nth-child(n+3) div div{
	background-color: #68cded;
}
section.car div.rank tbody tr:nth-child(3) div div{
	width: 65%;
}
section.car div.rank tbody tr:nth-child(4) div div{
	width: 60%;
}
section.car div.rank tbody tr:nth-child(5) div div{
	width: 55%;
}
section.car div.rank tbody tr:nth-child(6) div div{
	width: 50%;
}
section.car div.rank tbody tr:nth-child(7) div div{
	width: 45%;
}
section.car div.rank tbody tr:nth-child(8) div div{
	width: 40%;
}
section.car div.rank tbody tr:nth-child(9) div div{
	width: 35%;
}
section.car div.rank tbody tr:nth-child(10) div div{
	width: 30%;
}

